### OS / IDE / Build ###
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/
bin/
build/
.gradle/
target/

### Spring ###
*.log
*.pid
*.tmp
*.bak
*.swp
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ ###
.classpath
.project
.factorypath
.settings/
.springBeans
.sts4-cache

### VSCode ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Test / Coverage ###
test-output/
*.hprof
*.orig

### Secret ###
# secret 폴더 전체를 git에서 제외
src/main/resources/secret/

# 샘플 예시 파일만 허용 (예: sample-db.yml 등)
!src/main/resources/secret/sample-*.yml

### Local properties ###
application-local.yml
application-dev.yml

### OS ###
Thumbs.db
ehthumbs.db
Desktop.ini
